.book section.normal {
  overflow: hidden;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
.book section.normal > *:first-child {
  margin-top: 0 !important;
}
.book section.normal > *:last-child {
  margin-bottom: 0 !important;
}
.book section.normal .absent {
  color: #c00;
}
.book section.normal .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.book section.normal .anchor:focus {
  outline: none;
}
.book section.normal h1, .book section.normal h2, .book section.normal h3, .book section.normal h4, .book section.normal h5, .book section.normal h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: capitalize;
}
.book section.normal h1 .octicon-link, .book section.normal h2 .octicon-link, .book section.normal h3 .octicon-link, .book section.normal h4 .octicon-link, .book section.normal h5 .octicon-link, .book section.normal h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.book section.normal h1:hover .anchor, .book section.normal h2:hover .anchor, .book section.normal h3:hover .anchor, .book section.normal h4:hover .anchor, .book section.normal h5:hover .anchor, .book section.normal h6:hover .anchor {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}
.book section.normal h1:hover .anchor .octicon-link, .book section.normal h2:hover .anchor .octicon-link, .book section.normal h3:hover .anchor .octicon-link, .book section.normal h4:hover .anchor .octicon-link, .book section.normal h5:hover .anchor .octicon-link, .book section.normal h6:hover .anchor .octicon-link {
  display: inline-block;
}
.book section.normal h1 tt, .book section.normal h1 code {
  font-size: inherit;
}
.book section.normal h2 tt, .book section.normal h2 code {
  font-size: inherit;
}
.book section.normal h3 tt, .book section.normal h3 code {
  font-size: inherit;
}
.book section.normal h4 tt, .book section.normal h4 code {
  font-size: inherit;
}
.book section.normal h5 tt, .book section.normal h5 code {
  font-size: inherit;
}
.book section.normal h6 tt, .book section.normal h6 code {
  font-size: inherit;
}
.book section.normal h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.book section.normal h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.book section.normal h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.book section.normal h4 {
  font-size: 1.25em;
}
.book section.normal h5 {
  font-size: 1em;
}
.book section.normal h6 {
  font-size: 1em;
  color: #777;
}
.book section.normal p, .book section.normal blockquote, .book section.normal ul, .book section.normal ol, .book section.normal dl, .book section.normal table, .book section.normal pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.book section.normal hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.book section.normal ul, .book section.normal ol {
  padding-left: 2em;
}
.book section.normal ul.no-list, .book section.normal ol.no-list {
  padding: 0;
  list-style-type: none;
}
.book section.normal ul ul, .book section.normal ul ol {
  margin-top: 0;
  margin-bottom: 0;
}
.book section.normal ol ol, .book section.normal ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.book section.normal li > p {
  margin-top: 16px;
}
.book section.normal dl {
  padding: 0;
}
.book section.normal dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.book section.normal dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.book section.normal blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.book section.normal blockquote > :first-child {
  margin-top: 0;
}
.book section.normal blockquote > :last-child {
  margin-bottom: 0;
}
.book section.normal table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.book section.normal table th {
  font-weight: bold;
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.book section.normal table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.book section.normal table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.book section.normal table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.book section.normal img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.book section.normal span.frame {
  display: block;
  overflow: hidden;
}
.book section.normal span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #ddd;
}
.book section.normal span.frame span img {
  display: block;
  float: left;
}
.book section.normal span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #333;
}
.book section.normal span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.book section.normal span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.book section.normal span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.book section.normal span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.book section.normal span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.book section.normal span.align-right span img {
  margin: 0;
  text-align: right;
}
.book section.normal span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.book section.normal span.float-left span {
  margin: 13px 0 0;
}
.book section.normal span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.book section.normal span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.book section.normal code, .book section.normal tt {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.book section.normal code:before, .book section.normal code:after {
  letter-spacing: -0.2em;
  content: " ";
}
.book section.normal tt:before, .book section.normal tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
.book section.normal code br, .book section.normal tt br {
  display: none;
}
.book section.normal del code {
  text-decoration: inherit;
  vertical-align: text-top;
}
.book section.normal pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.book section.normal .highlight {
  margin-bottom: 16px;
}
.book section.normal .highlight pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.book section.normal pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.book section.normal .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.book section.normal pre {
  word-wrap: normal;
}
.book section.normal pre code, .book section.normal pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.book section.normal pre code:before, .book section.normal pre code:after {
  content: normal;
}
.book section.normal pre tt:before, .book section.normal pre tt:after {
  content: normal;
}
.book .highlight {
  background: #ffffff;
}
.book .highlight .c {
  color: #999988;
  font-style: italic;
}
.book .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.book .highlight .k {
  font-weight: bold;
}
.book .highlight .o {
  font-weight: bold;
}
.book .highlight .cm {
  color: #999988;
  font-style: italic;
}
.book .highlight .cp {
  color: #999999;
  font-weight: bold;
}
.book .highlight .c1 {
  color: #999988;
  font-style: italic;
}
.book .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.book .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.book .highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.book .highlight .ge {
  font-style: italic;
}
.book .highlight .gr {
  color: #aa0000;
}
.book .highlight .gh {
  color: #999999;
}
.book .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.book .highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.book .highlight .go {
  color: #888888;
}
.book .highlight .gp {
  color: #555555;
}
.book .highlight .gs {
  font-weight: bold;
}
.book .highlight .gu {
  color: #800080;
  font-weight: bold;
}
.book .highlight .gt {
  color: #aa0000;
}
.book .highlight .kc {
  font-weight: bold;
}
.book .highlight .kd {
  font-weight: bold;
}
.book .highlight .kn {
  font-weight: bold;
}
.book .highlight .kp {
  font-weight: bold;
}
.book .highlight .kr {
  font-weight: bold;
}
.book .highlight .kt {
  color: #445588;
  font-weight: bold;
}
.book .highlight .m {
  color: #009999;
}
.book .highlight .s {
  color: #d14;
}
.book .highlight .n {
  color: #333333;
}
.book .highlight .na {
  color: #008080;
}
.book .highlight .nb {
  color: #0086B3;
}
.book .highlight .nc {
  color: #445588;
  font-weight: bold;
}
.book .highlight .no {
  color: #008080;
}
.book .highlight .ni {
  color: #800080;
}
.book .highlight .ne {
  color: #990000;
  font-weight: bold;
}
.book .highlight .nf {
  color: #990000;
  font-weight: bold;
}
.book .highlight .nn {
  color: #555555;
}
.book .highlight .nt {
  color: #000080;
}
.book .highlight .nv {
  color: #008080;
}
.book .highlight .ow {
  font-weight: bold;
}
.book .highlight .w {
  color: #bbbbbb;
}
.book .highlight .mf {
  color: #009999;
}
.book .highlight .mh {
  color: #009999;
}
.book .highlight .mi {
  color: #009999;
}
.book .highlight .mo {
  color: #009999;
}
.book .highlight .sb {
  color: #d14;
}
.book .highlight .sc {
  color: #d14;
}
.book .highlight .sd {
  color: #d14;
}
.book .highlight .s2 {
  color: #d14;
}
.book .highlight .se {
  color: #d14;
}
.book .highlight .sh {
  color: #d14;
}
.book .highlight .si {
  color: #d14;
}
.book .highlight .sx {
  color: #d14;
}
.book .highlight .sr {
  color: #009926;
}
.book .highlight .s1 {
  color: #d14;
}
.book .highlight .ss {
  color: #990073;
}
.book .highlight .bp {
  color: #999999;
}
.book .highlight .vc {
  color: #008080;
}
.book .highlight .vg {
  color: #008080;
}
.book .highlight .vi {
  color: #008080;
}
.book .highlight .il {
  color: #009999;
}
.book .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

.color-theme-2 .highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.color-theme-2 .highlight .c, .color-theme-2 .highlight .cd, .color-theme-2 .highlight .cm, .color-theme-2 .highlight .c1, .color-theme-2 .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.color-theme-2 .highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
  font-style: italic;
}
.color-theme-2 .highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.color-theme-2 .highlight .gr {
  color: #fefeec;
  background-color: #cc0000;
}
.color-theme-2 .highlight .k, .color-theme-2 .highlight .kd, .color-theme-2 .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.color-theme-2 .highlight .o, .color-theme-2 .highlight .ow {
  color: #4df4ff;
}
.color-theme-2 .highlight .p, .color-theme-2 .highlight .pi {
  color: #4df4ff;
}
.color-theme-2 .highlight .gd {
  color: #cc0000;
}
.color-theme-2 .highlight .gi {
  color: #b2fd6d;
}
.color-theme-2 .highlight .ge {
  font-style: italic;
}
.color-theme-2 .highlight .gs {
  font-weight: bold;
}
.color-theme-2 .highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.color-theme-2 .highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.color-theme-2 .highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.color-theme-2 .highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.color-theme-2 .highlight .m, .color-theme-2 .highlight .mf, .color-theme-2 .highlight .mh, .color-theme-2 .highlight .mi, .color-theme-2 .highlight .il, .color-theme-2 .highlight .mo, .color-theme-2 .highlight .mb, .color-theme-2 .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.color-theme-2 .highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.color-theme-2 .highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.color-theme-2 .highlight .s, .color-theme-2 .highlight .sb, .color-theme-2 .highlight .sd, .color-theme-2 .highlight .s2, .color-theme-2 .highlight .sh, .color-theme-2 .highlight .sx, .color-theme-2 .highlight .sr, .color-theme-2 .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.color-theme-2 .highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.color-theme-2 .highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.color-theme-2 .highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.color-theme-2 .highlight .nb {
  font-weight: bold;
}
.color-theme-2 .highlight .ni {
  color: #999999;
  font-weight: bold;
}
.color-theme-2 .highlight .w {
  color: #BBBBBB;
}
.color-theme-2 .highlight .nf {
  color: #a8e1fe;
}
.color-theme-2 .highlight .py {
  color: #a8e1fe;
}
.color-theme-2 .highlight .na {
  color: #a8e1fe;
}
.color-theme-2 .highlight .nv, .color-theme-2 .highlight .vc, .color-theme-2 .highlight .vg, .color-theme-2 .highlight .vi {
  color: #a8e1fe;
  font-weight: bold;
}
